.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #eff6ff;
}

.main-content {
  margin-left: 17%;
  display: flex;
  width: 63%;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}
