@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: Outfit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
li,
ul,
ol,
button {
    margin: 0;
}